.c-input{
  margin-bottom: 3rem;
  display: inline-block;
  width: 100%;

  & > span{
    display: block;
    font-size: 1.2rem;
    @include semi-bold;
    letter-spacing: 0.1rem;
    color: $subtext-color;
    text-transform: uppercase;
    margin-bottom: 0.2rem;
  }
  input{
    height: 3.5rem;
    border: 0.1rem solid $gray;
    padding: 0 1.5rem;
    @include regular;
    font-size: 1.4rem;
    width: 100%;
  }
  textarea{
    width: 100%;
    min-height: 10rem;
    resize: none;
    border: 0.1rem solid $light-gray;
    outline: none;
    padding: 0.7rem 1rem;
    @include regular;
    font-size: 1.4rem;
    color: $text-color;
  }
}

.c-input--disabled{
  pointer-events: none;

  input{
    height: 3.5rem;
    border: none;
    background: $lightest-gray;
    padding: 0 1.5rem;
    @include regular;
    font-size: 1.4rem;
    width: 100%;
  }
}

.c-checkbox{
  @include regular;
  font-size: 1.4rem;
  color: $text-color;
  margin-bottom: 2rem;
  display: inline-block;

  input{
    margin-right: 1rem;
  }
}

.Select{
  width: 100%;
  border: 0.1rem solid $gray;
  background: $white;
  position: relative;

  &:after{
    font-family: 'lti-admin';
    content: "\e10f";
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    text-align: center;
    line-height: 3.5rem;
    color: $gray;
    font-size: 2rem;
    z-index: 1;
  }

  &.is-open {
    .Select-control {

    }
  }
}

  .Select-control{
    display: block;
    width: 100%;
    height: 3.3rem;
    border: none;
    background: none;
    outline: none;
    font-size: 1.4rem;
    @include regular;
    padding: 0 1.5rem;
    color: $text-color;
    position: relative;
    z-index: 2;
    cursor: pointer;
    line-height: 3.5rem;
  }

  .Select-menu-outer{
    display: block;
    position: absolute;
    top: 3.3rem;
    border-top: 0.1rem solid $lighter-gray;
    border-left: 0.1rem solid $gray;
    border-bottom: 0.1rem solid $gray;
    border-right: 0.1rem solid $gray;
    left: -0.1rem;
    right: -0.1rem;
    background: $white;
    overflow: auto;
    box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.15);
    z-index: 100;
    min-height: 3.5rem;
  }

    .Select-option{
      font-size: 1.4rem;
      @include regular;
      color: $text-color;
      padding: 0 1.5rem;
      line-height: 3.5rem;
      border-bottom: 0.1rem solid $lighter-gray;
      @include truncate;
      cursor: pointer;
      background: $lightest-gray;

      &:hover{
        background: $lighter-gray;
      }

      &.is-selected {
        background: $gray;
        color: $white;
        @include semi-bold;

        &:hover{
          background: darken($gray, 5%);
        }
      }
    }
