<% content_for :head do -%>
  <%= stylesheet_link_tag "hello_world" %>
<% end -%>

<%= render "shared/default_client_settings" %>
<div id="main-app"></div>
<%= javascript_include_tag "hello_world", defer: true %>
