<h1 class="aj-title">
  <i class="material-icons-outlined aj-ok" aria-hidden="true">check_circle</i>
  <span>Setup complete</span>
</h1>
<p class="aj-text">
We have finished setting up this application to work with Canvas. Please reload your browser window to continue. 
</p>
