<h1 class="aj-title">
  <i class="material-icons-outlined aj-error" aria-hidden="true">error_outline</i>
  <span>An authorization error has occured</span>
</h1>
<p class="aj-text">
  <div class="callout notice"><%= flash[:error] %></div>
</p>
