<% content_for :title do %>
We're sorry, but something went wrong (500)
<% end %>

<div class="dialog">
  <div>
    <h1>We're sorry, but something went wrong.</h1>
    <div><%= current_application_instance&.custom_error_message %></div>
  </div>
  <p>If you are the application owner check the logs for more information.</p>
</div>
