<div class="c-login">
  <div class="c-title">
    <h1>Two Factor Authentication</h1>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>
    <%= f.label :otp_attempt, class: "c-input" do %>
      <span>OTP</span>
      <%= f.text_field :otp_attempt %>
    <% end %>
    <div class="actions">
      <%= f.submit "Login", class: "c-btn c-btn--yellow" %>
    </div>
  <% end %>
</div>
