<% content_for :head do -%>
  <%= stylesheet_pack_tag "admin", "admin"%>
<% end -%>

<%= render 'shared/default_admin_client_settings' %>
<div id="main-app"></div>
<%= javascript_packs_with_chunks_tag "admin", "data-turbolinks-track": "reload" %>
  