<% content_for :head do -%>
  <%= stylesheet_link_tag "admin" %>
  <%= stylesheet_link_tag "fontAwesome" %>
<% end -%>

<%= render 'shared/default_admin_client_settings' %>
<div id="main-app"></div>
<%= javascript_include_tag "admin", defer: true %>
