.c-info{
  padding: 3rem 0;
  @include display-flex;
  @include align-items(center);
}

  .c-title{
    @include flex(1);

    h1{
      @include bold;
      color: $text-color;
      margin: 0;
      font-size: 3.4rem;
    }
    h3{
      @include semi-bold;
      color: $text-color;
      margin: 0;
      font-size: 1.8rem;
      margin-top: -0.5rem;

      a{
        margin-left: 0.5rem;
        i{
          font-size: 1.5rem;
          color: $light-gray;
          @include transition(all 0.1s ease);
        }
        &:hover i{
          color: $gray;
        }
      }
    }
  }

  .c-search{
    max-width: 35rem;
    width: 100%;
    position: relative;

    input{
      width: 100%;
      height: 3.5rem;
      border: 0.2rem solid $light-gray;
      border-radius: 1.8rem;
      padding: 0 2rem 0 3.5rem;
      font-size: 1.6rem;
      color: $dark-gray;

      &:focus{
        border-color: $gray;
        outline: none;
      }
    }

    i{
      position: absolute;
      top: 0.5rem;
      left: 1rem;
      font-size: 2.3rem;
      color: $gray;
      pointer-events: none;
    }
  }

  .c-search--small{
    margin-bottom: 1rem;
    margin-right: 2rem;
    float: right;
    @include clearfix;

    input{
      padding: 0 2rem 0 3rem;
      height: 3rem;
      font-size: 1.4rem;
      border-radius: 1.5rem;
      border-color: $lightest-gray;
    }

    i{
      font-size: 2rem;
    }
  }
