.c-input--container {
  margin-bottom: 3rem;
  display: inline-block;
  width: 100%;
}

.aj-react-select{
  font-size: 1.3rem;
}

.c-input{
  display: inline-block;
  width: 100%;

  & > span{
    display: block;
    font-size: 1.3rem;
    color: $gray-3;
    margin-bottom: 0.2rem;
  }
  input{
    height: 3.5rem;
    border: 0.2rem solid $gray-C;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    width: 100%;
    border-radius: 0.5rem;
  }
  input:disabled{
    border: none;
    background-color: #F5F5F4;
  }
  textarea{
    width: 100%;
    min-height: 10rem;
    resize: none;
    border: 0.2rem solid $gray-C;
    outline: none;
    padding: 0.7rem 1rem;
    font-size: 1.4rem;
    color: $text-color;
  }
}

.aj-btn{
    border-radius: 0.5rem;
    background-color: $admin-yellow;
    box-shadow: 0px 1px 3px #00000080;
    padding: 1.5rem 2.4rem;
    border: none;
    cursor: pointer;
    margin-right: 2.4rem;
  }

.aj-settings-title{
  padding: 3rem 0 3rem 2rem;
  font-size: 2rem;
  @include bold;
  display: flex;
}

.aj-columns{
  display: flex;
}

.aj-col-flex{
  flex: 1;
}

.aj-item-padding{
  padding: 0 2rem;
}

.aj-input--border{
  input{
    border: 0.2rem $gray-C solid;
    border-radius: 0.5rem;
  }
  textarea{
    border: 0.2rem $gray-C solid;
    border-radius: 0.5rem;
  }
}

.aj-small-input{
  max-width: 21.6rem;
}

.aj-small-textarea{
  max-width: 48rem;
}

.aj-flex-col{
  display: flex;
  flex-direction: column;
}

.c-input--dark{
  & > span{
    padding: 3.5rem 0;
    @include bold;
    font-size: 2rem;
  }
  textarea{
    color: $warm-gray-E;
    background-color: $gray10;
    font-size: 1.6rem;
    min-height: 20rem;
  }
}

.c-input--disabled{
  pointer-events: none;

  input{
    height: 3.5rem;
    border: none;
    background: $lightest-gray;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    width: 100%;
  }
}

.c-checkbox{
  font-size: 1.4rem;
  color: $text-color;
  display: inline-block;

  input{
    margin-right: 1rem;
  }
}

.c-checkbox--right-titlebar{
  position: relative;
  right: 0;
  text-align: right;

  label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    @include semi-bold;
    font-size: 1.4rem;
    color: $gray;
  }

  input[type="checkbox"] + label:before{
    content: "\e25d";
    color: $gray;
    font-size: 2rem;
    font-family: 'lti-admin';
    font-weight: normal;
    position: absolute;
    line-height: 1;
    top: -0.3rem;
    left: -2rem;
  }

  input[type="checkbox"]:checked + label:before{
    content: "\e25c";
    color: $yellow;
  }

  input:focus + label{
    outline: thin dotted;
  }

  input{
    opacity: 0;
    margin: 0;
    height: 0.01rem;
    width: 0.01rem;
    position: absolute;
  }
}

.helper-text{
  clear:both;
  width:100%;
}

.Select{
  width: 100%;
  border: 0.1rem solid $gray;
  background: $white;
  position: relative;

  &:after{
    font-family: 'lti-admin';
    content: "\e10f";
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    text-align: center;
    line-height: 3.5rem;
    color: $gray;
    font-size: 2rem;
    z-index: 1;
  }

  &.is-open {
    .Select-control {

    }
  }
}

  .Select-control{
    display: block;
    width: 100%;
    height: 3.3rem;
    border: none;
    background: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 1.5rem;
    color: $text-color;
    position: relative;
    z-index: 2;
    cursor: pointer;
    line-height: 3.5rem;
  }

  .Select-menu-outer{
    display: block;
    position: absolute;
    top: 3.3rem;
    border-top: 0.1rem solid $lighter-gray;
    border-left: 0.1rem solid $gray;
    border-bottom: 0.1rem solid $gray;
    border-right: 0.1rem solid $gray;
    left: -0.1rem;
    right: -0.1rem;
    background: $white;
    overflow: auto;
    box-shadow: 0 0.4rem 1rem rgba(0,0,0,0.15);
    z-index: 100;
    min-height: 3.5rem;
  }

    .Select-option{
      font-size: 1.4rem;
      color: $text-color;
      padding: 0 1.5rem;
      line-height: 3.5rem;
      border-bottom: 0.1rem solid $lighter-gray;
      @include truncate;
      cursor: pointer;
      background: $lightest-gray;

      &:hover{
        background: $lighter-gray;
      }

      &.is-selected {
        background: $gray;
        color: $white;
        @include semi-bold;

        &:hover{
          background: darken($gray, 5%);
        }
      }
    }
