$loaderTiming: 2s;

.aj-loading-space-top{
	padding-top: 10rem;
}

.loading{
	@include display-flex;
	@include align-items(center);
	flex-direction: column;

  &.complete{
    svg{
      .cls-1{
        stroke-dasharray: 250 250;
        animation: none;
      }
      .cls-2{
        stroke-dasharray: 270 270;
        animation: none;
      }
    }
  }

	p{
		@include bold;
		font-size: 2rem;
		color: $yellow;
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		margin: 2rem 0 0;
	}

	svg{
		width: 60px;

		polygon, polyline{
			fill:none;
			stroke: $yellow;
			stroke-linecap:round;
			stroke-linejoin:round;
			stroke-width: 6px;
		}
		.cls-1{
			stroke-dasharray: 0 250;
			animation: line1 $loaderTiming infinite ease;
		}
		.cls-2{
			stroke-dasharray: 0 270;
			animation: line2 $loaderTiming infinite ease;
		}
	}

	@keyframes line1 {
		0%{
			stroke-dasharray: 0 250;
		}
		40%{
			stroke-dasharray: 250 250;
		}
		60%{
			stroke-dasharray: 250 250;
		}
		100%{
			stroke-dasharray: 0 250;
		}
	}
	@keyframes line2 {
		0%{
			stroke-dasharray: 0 270;
		}
		40%{
			stroke-dasharray: 270 270;
		}
		60%{
			stroke-dasharray: 270 270;
		}
		100%{
			stroke-dasharray: 0 270;
		}
	}

}
