.c-table{
  width: 100%;
  border-collapse: collapse;
}

.c-table--lti{
  tbody{

    td{

      &:nth-of-type(2){

        span{
          @include semi-bold;
          font-size: 1.4rem;
          color: $gray;
        }
      }
    }
  }
}

.c-table--instances{

  tbody{

    td{
      vertical-align: middle;

      &:nth-of-type(1){

        div{
          font-size: 1.2rem;
          color: $gray;
        }
      }
      &:nth-of-type(2){

        span{
          font-size: 1.2rem;
          color: $gray;
        }
      }
      &:nth-of-type(3){

        span{
          font-size: 1.2rem;
          color: $gray;
        }
      }
    }
  }
}

.c-table--installs{

  tbody{

    tr.is-installed{

    }

    td{
      vertical-align: middle;

      &:nth-of-type(1){
        span{
          font-size: 1rem;
          @include semi-bold;
          text-transform: uppercase;
          margin-left: 1rem;
          margin-top: 0.3rem;
          color: $light-gray;
          display: inline-block;
        }

        .c-table--inactive{
          @include semi-bold;
          font-size: 1.4rem;
          color: $text-color;
        }
      }

      &:nth-of-type(2){

        span{
          font-size: 1.2rem;
          color: $gray;
        }
      }
    }
  }
}

  thead{

    th{
      text-align: left;
      background: $lightest-gray;
      padding: 1rem 2rem;

      span{
        @include semi-bold;
        font-size: 1.2rem;
        color: $subtext-color;
        text-transform: uppercase;
      }
    }
  }

  tbody{

    td{
      border-bottom: 0.1rem solid $lighter-gray;
      border-top: 0.1rem solid $lighter-gray;
      padding: 1.5rem 2rem;
      text-align: left;

      &:nth-of-type(1){

        a{
          @include semi-bold;
          font-size: 1.4rem;
          color: $blue;

          &:hover{
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }

  .c-delete{
    width: 3rem;
    height: 3rem;
    border-radius: $radius;
    background: $lightest-gray;
    display: block;
    float: right;
    border: none;
    cursor: pointer;
    @include transition(all 0.1s ease);

    i{
      font-size: 2rem;
      color: $light-gray;
      position: relative;
      @include transition(all 0.1s ease);
    }

    &:hover i{
      color: $gray;
    }
    &:active{
      @include transform(scale(0.9));
    }
  }

  .pagination{
    position: relative;
    @include center(horizontal);
    display: inline-block;
    margin: 3rem 0;

    li{
      display: inline-block;

      a{
        display: inline-block;
        @include semi-bold;
        font-size: 1.4rem;
        color: $gray;
        width: 2rem;
        height: 3rem;
        margin: 0 0.2rem;
        text-align: center;
        line-height: 3rem;
        cursor: pointer;
        outline: none;

        @include no-select;

        &:hover{
          color: $text-color;
        }
      }
    }
  }

  li.disabled{
    opacity: 0;
  }

  li.previous a, li.next a{
    width: auto;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: $lightest-gray;
    margin: 0 1rem;
  }

  li.break{
    @include semi-bold;
    font-size: 1.4rem;
    color: $gray;
    width: 2rem;
    height: 3rem;
    margin: 0 0.2rem;
    text-align: center;
    line-height: 3rem;
    @include no-select;
  }

  li.selected a{
    border-bottom: 0.2rem solid $text-color;
    color: $text-color;
  }
