// Colors
$white: #ffffff;

$yellow: #FFEA00;
$blue: #2071BB;
$green: #4B9C43;
$green-alt: #51B548;
$red: #D04545;

$dark-gray: #212121;
$darker-gray: #333333;
$gray2: #555555;
$gray: #888888;
$light-gray: #BCBCBC;

$text-color: #272121;
$subtext-color: #AAAAAA;
$active-gray: #57534E;

$lighter-gray: #eaeaea;
$lightest-gray: #f5f5f4;

$gray1: #f5f5f5;

$gray3: #dddddd;
$gray5: #bbbbbb;
$gray9: #777777;
$accessibleGrey: #595959;
$gray10: #333333;
$grayC: #2C2C2C;
$blue-text: #20638D;

$warm-gray-F: #F5F5F4;
$warm-gray-E: #E3E1E0;
$warm-gray-D: #D6D3D1;
$warm-gray-7: #78716C;
$warm-gray-2: #292524;
$blue-gray-E: #EFF3F4;
$blue-gray-D: #D6E3E6;
$blue-gray-C: #C3D0D3;
$blue-gray-7: #738D93;
$blue-gray-0: #0A262C;

$gray-W: #FFFFFF;
$gray-7: #777777;
$gray-5: #595959;
$gray-3: #333333;
$gray-0: #000000;

$grayA: #AAAAAA;

$text: $gray-3;

$radius: 3px;
