// Colors
$white: #ffffff;

$yellow: #EFC210;
$blue: #2071BB;
$green: #4B9C43;
$green-alt: #51B548;
$red: #D04545;

$dark-gray: #212121;
$darker-gray: #333333;
$gray2: #555555;
$gray: #888888;
$light-gray: #BCBCBC;

$text-color: #272121;
$subtext-color: #AAAAAA;

$lighter-gray: #eaeaea;
$lightest-gray: #f5f5f5;

$radius: 3px;
