
@import "../modules/all";
//@import "vendor/example";

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

html, html a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  @include regular;
}

html{
  height: 100%;
  font-size: 10px;
}

body{
  height: 100%;
	margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a, a:link, a:visited{
    color: inherit;
    text-decoration: none;
}

div#main-app > div {
  height: 100%;
}

#main-app {
  height: 100%;
}

.app-index {
  height: 100%;
}