// Modules and Variables
@import "partials/base";

// Partials
@import "partials/objects";
@import "partials/head";
@import "partials/tables";
@import "partials/info";
@import "partials/btn";
@import "partials/sidebar";
@import "partials/modal";
@import "partials/inputs";
@import "partials/login";
@import "partials/alerts";
