<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>React Client Starter</title>
<meta name="description" content="React Client Starter">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript">
  window.DEFAULT_SETTINGS = {
    api_url: '',
    csrf_token: '',
    user_id: 1,
    email: 'user@example.com',
    display_name: 'John Doe',
    oauth_consumer_key: ''
  };
  window.DEFAULT_JWT = '';
</script>
<link rel="stylesheet" href="styles.css" />