<h2 class="title">Two Factor Authentication</h2>

<div class="card-deck">
  <div class="card">
    <div class="card-header">
      Backup Codes
    </div>
    <div class="card-body">
      <p>Keep these backup codes safe in case you lose access to your authenticator app:</p>
      <hr />
      <% @backup_codes.each do |code| %>
        <div class="two-fa-code"><%= code %></div>
      <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Two Factor Setup Complete
    </div>
    <div class="card-body">
      <p>Two factor authentication has been successfully enabled.</p>
      <%= link_to('Return to account settings', edit_user_registration_path, class: 'c-btn c-btn--yellow') %>
    </div>
  </div>
</div>
