name: linter

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.5
          bundler-cache: true

      - name: Install dependencies
        env:
          RAILS_ENV: test
          RAILS_GROUPS: build
        run: bundle install

      - name: Run linter
        run: git diff --name-only origin/master | bundle exec xargs rubocop --force-exclusion --parallel
