<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= app_friendly_name %></title>
  <%= stylesheet_link_tag 'omniauth', media: 'all' %>
  <%= render 'layouts/head' %>
</head>
<body>
  <%= yield %>
</body>
</html>
